.score {
  font-weight: bold;
  font-size: 56px;
  animation-name: show;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes show {
  0% {
    opacity: 0;
    font-size: 10px;
  }

  100% {
    opacity: 1;
  }
}
